/*primary theme*/
$primaryColor:         #DBE6ED;
$brandPrimaryColor:    #4288B5;
$secondaryColor:       #072E53;
$secondaryPurple:      #F4DCFF;
$brandSecondaryColor:  #BA90CE;
$accentRed:            #F2E1E0;
$accentRedSecondary:   #9B1C13;
$accentGreen:          #D1E7DD;
$accentGreenSecondary: #0F5132;
$accentGold:           #FFF3CD;
$accentGoldSecondary:  #664D03;
$lightBackground:      #FFFFFF;
$grayBackground:       #F6F6FA;
$graySecondary:        #E9E9E9;
$grayTertiary:         #989898;
$grayQuaternary:       #323232;
$darkBackground:       #0E3046;
$darkSecondary:        #202637;
$darkTertiary:         #001223;

/*secondary theme*/
$invertedBlue:            #103918;          //           #DBE6ED
$invertedBrandBlue:       #BD775A;          //           #4288B5
$invertedBlueSecondary:   #F8D1AC;          //           #072E53
$invertedPurple:          #0B2300;          //           #F4DCFF
$invertedBrandPurple:     #457F31;          //           #BA90CE
$invertedRed:             #0D1E1F;          //           #F2E1E0
$invertedRedSecondary:    #64E3EC;          //           #9B1C13
$invertedGreen:           #2E1811;          //           #D1E7DD
$invertedGreenSecondary:  #F0AECF;          //           #0F5132
$invertedGold:            #000C32;          //           #FFF3CD
$invertedGoldSecondary:   #99B2FC;          //           #664D03
$invertedLight:           #000000;          //           #FFFFFF
$invertedGray:            #090909;          //           #F6F6FA
$invertedGraySecondary:   #161616;          //           #E9E9E9
$invertedGrayThird:       #676767;          //           #989898
$invertedGrayFourth:      #CDCDCD;          //           #323232
$invertedDark:            #F1C5B9;          //           #0E3046
$invertedDarkSecondary:   #DFD9C8;          //           #202637
$invertedDarkThird:       #FFEEDC;          //           #001223








$fsH1:            36px;
$fsH2:            24px;
$fsH3:            20px;
$fsH4:            20px;
$fsH5:            18px;
$fsH6:            16px;
$fsCaption:       14px;
$fsButton:        20px;
$fsButtonSmall:   14px;
$fsParagraph:     18px;
$fsLink:          14px;

:root {
   --primaryColor:             #{$primaryColor};
   --brandPrimaryColor:        #{$brandPrimaryColor};
   --secondaryColor:           #{$secondaryColor};
   --secondaryPurple:          #{$secondaryPurple};
   --brandSecondaryColor:      #{$brandSecondaryColor};
   --accentRed:                #{$accentRed};
   --accentRedSecondary:       #{$accentRedSecondary};
   --accentGreen:              #{$accentGreen};
   --accentGreenSecondary:     #{$accentGreenSecondary};
   --accentGold:               #{$accentGold};
   --accentGoldSecondary:      #{$accentGoldSecondary};
   --lightBackground:          #{$lightBackground};
   --grayBackground:           #{$grayBackground};
   --graySecondary:            #{$graySecondary};
   --grayTertiary:             #{$grayTertiary};
   --grayQuaternary:           #{$grayQuaternary};
   --darkBackground:           #{$darkBackground};
   --darkSecondary:            #{$darkSecondary};
   --darkTertiary:             #{$darkTertiary};

    --fsH1:          #{$fsH1};
    --fsH2:          #{$fsH2};
    --fsH3:          #{$fsH3};
    --fsH4:          #{$fsH4};
    --fsH5:          #{$fsH5};
    --fsH6:          #{$fsH6};
    --fsCaption:     #{$fsCaption};
    --fsButton:      #{$fsButton};
    --fsButtonSmall: #{$fsButtonSmall};
    --fsParagraph:   #{$fsParagraph};
    --fsLink:        #{$fsLink};
}


/*theme-second*/

 



.theme-second {
    --primaryColor:             #{$invertedBlue};
    --brandPrimaryColor:        #{$invertedBrandBlue};
    --secondaryColor:           #{$invertedBlueSecondary};
    --secondaryPurple:          #{$invertedPurple};
    --brandSecondaryColor:      #{$invertedBrandPurple};
    --accentRed:                #{$invertedRed};
    --accentRedSecondary:       #{$invertedRedSecondary};
    --accentGreen:              #{$invertedGreen};
    --accentGreenSecondary:     #{$invertedGreenSecondary};
    --accentGold:               #{$invertedGold};
    --accentGoldSecondary:      #{$invertedGoldSecondary};
    --lightBackground:          #{$invertedLight};
    --grayBackground:           #{$invertedGray};
    --graySecondary:            #{$invertedGraySecondary};
    --grayTertiary:             #{$invertedGrayThird};
    --grayQuaternary:           #{$invertedGrayFourth};
    --darkBackground:           #{$invertedDark};
    --darkSecondary:            #{$invertedDarkSecondary};
    --darkTertiary:             #{$invertedDarkThird};
}