/*defaul theme*/
$primary:           #a2f27e;
$blue:              #DBE6ED;
$brandBlue:         #4288B5;
$blueSecondary:     #072E53;
$purple:            #F4DCFF;
$brandPurple:       #BA90CE;
$red:               #F2E1E0;
$redSecondary:      #9B1C13;
$green:             #D1E7DD;
$greenSecondary:    #0F5132;
$gold:              #FFF3CD;
$goldSecondary:     #664D03;
$light:             #FFFFFF;
$gray:              #F6F6FA;
$graySecondary:     #E9E9E9;
$grayThird:         #989898;
$grayFourth:        #323232;
$dark:              #0E3046;
$darkSecondary:     #202637;
$darkThird:         #001223;

$h1:            36px;
$h2:            24px;
$h3:            20px;
$h4:            20px;
$h5:            18px;
$h6:            16px;
$caption:       14px;
$button:        20px;
$buttonSmall:   14px;
$paragraph:     18px;
$link:          14px;

:root {
    --primary:          #{$primary};
    --blue:             #{$blue};
    --brandBlue:        #{$brandBlue};
    --blueSecondary:    #{$blueSecondary};
    --blueSecondary:    #{$blueSecondary};
    --purple:           #{$purple};
    --brandPurple:      #{$brandPurple};
    --red:              #{$red};
    --redSecondary:     #{$redSecondary};
    --green:            #{$green};
    --greenSecondary:   #{$greenSecondary};
    --gold:             #{$gold};
    --goldSecondary:    #{$goldSecondary};
    --light:            #{$light};
    --gray:             #{$gray};
    --graySecondary:    #{$graySecondary};
    --grayThird:        #{$grayThird};
    --grayFourth:       #{$grayFourth};
    --dark:             #{$dark};
    --darkSecondary:    #{$darkSecondary};
    --darkThird:        #{$darkThird};

    --h1:          #{$h1};
    --h2:          #{$h2};
    --h3:          #{$h3};
    --h4:          #{$h4};
    --h5:          #{$h5};
    --h6:          #{$h6};
    --caption:     #{$caption};
    --button:      #{$button};
    --buttonSmall: #{$buttonSmall};
    --paragraph:   #{$paragraph};
    --link:        #{$link};
}


/*theme-second*/

@mixin theme-second {
    $primary:           #7ecbf2;
    $blue:              #ededdb;
    $brandBlue:         #5db542;
    $blueSecondary:     #075316;
    $purple:            #dcf2ff;
    $brandPurple:       #90c8ce;
    $red:               #ece0f2;
    $redSecondary:      #92139b;
    $green:             #D1E7DD;
    $greenSecondary:    #43510f;
    $gold:              #ffcdcd;
    $goldSecondary:     #660331;
    $light:             #ffffff;
    $gray:              #f6faf9;
    $graySecondary:     #e9e9e9;
    $grayThird:         #989898;
    $grayFourth:        #323232;
    $dark:              #0e461f;
    $darkSecondary:     #203731;
    $darkThird:         #002312;
}



.theme-second {
    @include theme-second;

    --primary:           #7ecbf2;
    --blue:              #ededdb;
    --brandBlue:         #5db542;
    --blueSecondary:     #075316;
    --purple:            #dcf2ff;
    --brandPurple:       #90c8ce;
    --red:               #ece0f2;
    --redSecondary:      #92139b;
    --green:             #D1E7DD;
    --greenSecondary:    #43510f;
    --gold:              #ffcdcd;
    --goldSecondary:     #660331;
    --light:             #ffffff;
    --gray:              #f6faf9;
    --graySecondary:     #e9e9e9;
    --grayThird:         #989898;
    --grayFourth:        #323232;
    --dark:              #0e461f;
    --darkSecondary:     #203731;
    --darkThird:         #002312;


    // --primary:          #{$primary};
    // --blue:             #{$blue};
    // --brandBlue:        #{$brandBlue};
    // --blueSecondary:    #{$blueSecondary};
    // --blueSecondary:    #{$blueSecondary};
    // --purple:           #{$purple};
    // --brandPurple:      #{$brandPurple};
    // --red:              #{$red};
    // --redSecondary:     #{$redSecondary};
    // --green:            #{$green};
    // --greenSecondary:   #{$greenSecondary};
    // --gold:             #{$gold};
    // --goldSecondary:    #{$goldSecondary};
    // --light:            #{$light};
    // --gray:             #{$gray};
    // --graySecondary:    #{$graySecondary};
    // --grayThird:        #{$grayThird};
    // --grayFourth:       #{$grayFourth};
    // --dark:             #{$dark};
    // --darkSecondary:    #{$darkSecondary};
    // --darkThird:        #{$darkThird};
}